.bdxTransp {
  font-size: 75%;
  line-height: 65px;
  margin-left: 30px;
  display: inline-block;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}
.journeyIcon{
  width: 24px;
  height: 24px;
  color: white;
}

td{
  text-align: center;
  line-height: 95%;
}

/* tr{
  line-height: 100%;
} */

.info1, .info2{
  font-size: 40%;
  /* text-align: center; */
}

.line {
  font-size: 50%;
  font-style: italic;
  display:inline-block;
}